---
import { postSlug } from "../lib/site";

interface Post {
  id: string;
  data: {
    title: string;
    description: string;
    date: string;
  };
}

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.map((post) => (
    <a class="list-item" href={`/blog/${postSlug(post)}.html`}>
      <time datetime={post.data.date}>{post.data.date}</time>
      <h3>{post.data.title}</h3>
      <p>{post.data.description}</p>
    </a>
  ))
}
